#RewriteRule On
#RewriteBase /
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)/(.*)$ show_categories.php?controller=$1&action=$2
#RewriteRule
RewriteEngine On
#RewriteRule ^(.*)/(.*)$ show_categories.php?controller=$1&action=$2